<div id="about-page" class="about">
    <img id="picture" src="/images/IMG_7191.jpg" alt="Picture of Nadav">
    <p>
        <%= content.bio || "I'm Nadav Moskow, I work in IT Operations and am currently working on migrating our support team from Zendesk to Salesforce Service cloud. If you want to learn more about my experience and other projects I've worked on you can click through to see my resume." %>
    </p>
    <p>
        <%= content.hobbies || "In my spare time, I love playing cricket, running (come find me at the next marathon), watching movies or sports or analysing some obscure stats (especially if they relate to movies, running or sport)." %>
    </p>
    <p><%= content.tagline || "I'm always up for a chat (or a run)!" %></p>
    <p>Get in touch via the <a href="/contact">contact page</a></p>
    <p><%= content.quote || "\"I'm the type of person that if you ask me a question and I don't know the answer, I'm gonna tell you that I don't know. But I bet you what, I know how to find the answer and I will find the answer.\"" %><br><strong><%= content.quote_author || "Chris Gardner - Pursuit of Happyness" %></strong></p>
</div>
<hr>